{% extends "sprint-7/prototype/layout.html" %}

{% block pageTitle %}
What would you like to exclude? - {{question.id}} - {{question.label}} - {{serviceName}} - GOV.UK
  {% endblock %}

{% block breadCrumb%}
<div class="govuk-width-container ">
  {{ govukBreadcrumbs({
  items: breadcrumb_items
  }) }}
</div>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
        {{question.label}}
      </h1>


      <form action="#" method="post" novalidate>

        {{ govukTextarea({
        name: "metwithexceptions",
        id: "metwithexceptions",
        label: {
        text: "What would you like to exclude?",
        classes: "govuk-label--l",
        isPageHeading: true
        },
        hint: {
        text: "Please provide specific exceptions."
        }
        }) }}

          {{ govukButton({
            text: "Save and continue"
            }) }}

      </form>
    </div>
  </div>

{% endblock %}
