{% extends "layout.html" %}

{% block pageTitle %}
  Assessment index - Prototype 2
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ topic.name }}
      </h1>

      <p>
      {{ topic.description }}
      </p>
      <!-- <ul class="app-task-list__items govuk-!-padding-left-0">
        {% for topic in category.topics %}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/prototype-2/topics/{{ topic | slugify | lower }}" aria-describedby="{{ topic | slugify | lower }}">
              {{ topic }}
            </a>
          </span>
          <strong class="govuk-tag app-task-list__tag" id="{{ topic | slugify | lower }}">To do</strong>
        </li>
        {% endfor %}
      </ul> -->
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Topics</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Question</th>
            <th scope="col" class="govuk-table__header">Stage</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for question in topic.questions %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/prototype-2/question/{{ question.id | slugify | lower }}" >{{ question.label }}</a></th>
            <td class="govuk-table__cell">{{ question.stage }}</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Not started</strong></td>
            <td class="govuk-table__cell"><a href="/prototype-2/question/{{ question.id | slugify | lower }}">Answer</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
