{% extends "sprint-6/prototype/layout.html" %} {% block pageTitle %} Cyberhealth Framework {%
endblock %} {% block content %}
<div class="govuk-grid-row">

        <h1 class="govuk-heading-xl">
            Your Council Cyber Health Overview
        </h1>

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                You have 5 high risk threats
                <a class="govuk-notification-banner__link" href="/sprint-6/prototype-1/risk">View risks</a>
              </p>
            </div>
          </div>


        <h2 class="govuk-heading-l">Levels </h2>

        <div class="govuk-o-grid">
            {% for assessment in level_keys %}

            <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
                <div class="govuk-card govuk-card--contained {% if assessments[assessment].number_completed == assessments[assessment].number_of_questions %}govuk-card-complete{% else %}govuk-card--selectable{% endif %}">
                    <a href="/sprint-6/prototype/{{assessment}}"></a>
                    <div class="govuk-card__content">
                        <h3 class="govuk-heading-m"><a href="{{assessment}}">{{assessments[assessment].short_name}}</a></h3>
                        <p class="govuk-body">{{assessments[assessment].number_completed}} / {{assessments[assessment].number_of_questions}} controls met</p>
                        <p class="govuk-body">{{assessments[assessment].intro_text}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h2 class="govuk-heading-l">Compliance demands </h2>

    <div class="govuk-o-grid">
        {% for assessment in compliance_keys %}

        <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
            <div class="govuk-card govuk-card--contained {% if assessments[assessment].number_completed == assessments[assessment].number_of_questions %}govuk-card-complete{% else %}govuk-card--selectable{% endif %}">
                <a href="/sprint-6/prototype/{{assessment}}"></a>
                <div class="govuk-card__content">
                    <h3 class="govuk-heading-m"><a href="{{assessment}}">{{assessments[assessment].short_name}}</a></h3>
                    <p class="govuk-body">{{assessments[assessment].number_completed}} / {{assessments[assessment].number_of_questions}} controls met</p>
                    <p class="govuk-body">{{assessments[assessment].intro_text}}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

            <h2 class="govuk-heading-l">Quick Start - Mitigate Common Risks </h2>
    <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
            <div class="govuk-card govuk-card--contained govuk-card--selectable">
                <a href="/sprint-6/prototype/council-overview"></a>
                <div class="govuk-card__content">
                    <h3 class="govuk-heading-m"><a href="ransomware">Ransomware</a></h3>
                    <p class="govuk-body">0 / 10 controls met</p>
                    <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                    </p>
                </div>
            </div>
        </div>
        <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
            <div class="govuk-card govuk-card--contained govuk-card--selectable">
                <a href="/sprint-6/prototype/council-overview"></a>
                <div class="govuk-card__content">
                    <h3 class="govuk-heading-m"><a href="insider">Insider Attack</a></h3>
                    <p class="govuk-body">0 / 10 controls met</p>
                    <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                    </p>
                </div>
            </div>
        </div>
    </div>


            <h2 class="govuk-heading-l">Other standards </h2>

        <div class="govuk-o-grid">
            {% for assessment in standards_keys %}

            <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
                <div class="govuk-card govuk-card--contained govuk-card--selectable">
                    <a href="/sprint-6/prototype/{{assessment}}"></a>
                    <div class="govuk-card__content">
                        <h3 class="govuk-heading-m"><a href="{{assessment}}">{{assessments[assessment].short_name}}</a></h3>
                        <p class="govuk-body">{{assessments[assessment].number_completed}} / {{assessments[assessment].number_of_questions}} controls met</p>
                        <p class="govuk-body">{{assessments[assessment].intro_text}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>


    <h2 class="govuk-heading-l">Browse All </h2>
    <h3 class="govuk-heading-m"><a href="/sprint-6/prototype/all-questions-overview">Explore all controls</a></h3>
    <p>See progress against every control in the cyber health framework</p>

</div>


                {% endblock %}
