{% extends "layout-logged-in.html" %} {% block pageTitle %} Assessment index - Prototype 1
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Cyber health framework self-assessment</h1>

<p>This framework is based on a minimum cyber security threshold that all local authorities should meet. It has four overarching sections and 17 common categories of security controls and requirements that have been developed from core standards. </p>

  <p class="govuk-heading-s">How to use this tool:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Click on the categories below to explore each one in more detail.</li>
  <li>You will need to answer a series of questions in each category to determine if you are currently meeting the requirements for them.</li>
  <li>Once you’ve finished a category, you’ll be shown if you met the requirements or not, and will be provided with guidance to help you improve.</li>
</ul>
  
  
  


    {% for section in sections %}
    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">{{ section.name }}</h2>
    <!-- <ul class="govuk-list">
            {% for category in section.categories %}
            <li>{{ category }}</li>
            {% endfor %}
        </ul> -->
    <ul class="app-task-list__items govuk-!-padding-left-0">
      {% for category in section.categories %}
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a
            href="/prototype-1/category/{{ category | slugify | lower }}"
            aria-describedby="{{ category | slugify | lower }}"
          >
            {{ category }}
          </a>
        </span>
        <strong
          class="govuk-tag app-task-list__tag"
          id="{{ category | slugify | lower }}"
          >To do</strong
        >
      </li>
      
  
      {% endfor %}
      <br>
      <br>
   
    {% else %}
    <p>No sections were found</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
