{% extends "layout-logged-in.html" %} {% block pageTitle %} Cyberhealth
Framework {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Framework overview</h1>

    <p>
      Think of Version 1 (current) as the MVP. There will be many ways to
      improve upon it and make it a better resource, but we must start
      somewhere. It will continue to be updated with improvements and additions
      from the Design System. Updates will be communicated on these UK slack
      channels.
    </p>

    <a
      href="question1"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      data-module="govuk-button"
    >
      Start self assessment
      <svg
        class="govuk-button__start-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="17.5"
        height="19"
        viewBox="0 0 33 40"
        role="presentation"
        focusable="false"
      >
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>
    <h2 class="govuk-heading-m">Section 1: MANAGE security risk</h2>
    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">Organisational Governance
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="eligibility-status">
                Governance Framework
              </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status"
              >Completed</strong
            >
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="read-declaration-status">
                Read declaration
              </a>
            </span>
            <strong
              class="govuk-tag app-task-list__tag"
              id="read-declaration-status"
              >Completed</strong
            >
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Prepare
          application
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="company-information-status">
                Company information
              </a>
            </span>
            <strong
              class="govuk-tag app-task-list__tag"
              id="company-information-status"
              >Completed</strong
            >
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="contact-details-status">
                Your contact details
              </a>
            </span>
            <strong
              class="govuk-tag govuk-tag--blue app-task-list__tag"
              id="contact-details-status"
              >In progress</strong
            >
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="list-convictions-status">
                List convictions
              </a>
            </span>
            <strong
              class="govuk-tag govuk-tag--grey app-task-list__tag"
              id="list-convictions-status"
              >Not started</strong
            >
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Provide financial evidence
            </span>
            <strong
              class="govuk-tag govuk-tag--grey app-task-list__tag"
              id="financial-evidence-status"
              >Cannot start yet</strong
            >
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Give medical information
            </span>
            <strong
              class="govuk-tag govuk-tag--grey app-task-list__tag"
              id="medical-information-status"
              >Cannot start yet</strong
            >
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Apply
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name"> Submit and pay </span>
            <strong
              class="govuk-tag govuk-tag--grey app-task-list__tag"
              id="submit-pay-status"
              >Cannot start yet</strong
            >
          </li>
        </ul>
      </li>
    </ol>

    <p>
      This section covers the organisational structures, policies and processes
      necessary to understand, assess and systematically manage security risks
      to English public sector organisations’ network and information systems
      and essential services. The security control categories under this section
      cover:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Organisational Governence</li>
      <li>Risk Management</li>
      <li>Supplier Management</li>
      <li>Asset Management</li>
    </ul>
    <h2 class="govuk-heading-m">Section 2: PROTECT against cyber-attack</h2>
    <p>
      This section covers the requirement for proportionate security measures to
      be in place to protect English public sector organisations (and their
      essential services and systems) from cyber-attack. The security control
      categories under this section cover:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Information security management</li>
      <li>Physical/building security</li>
      <li>Operational security</li>
      <li>Environmental Security</li>
      <li>System Management</li>
      <li>Services Resilience</li>
      <li>Media Management</li>
      <li>Access Control</li>
      <li>People</li>
      <li>Network Security</li>
    </ul>
    <h2 class="govuk-heading-m">Section 3: DETECT cyber security event</h2>
    <p>
      This section covers measures to ensure security defences remain effective
      and to detect cyber security events affecting, or with the potential to
      affect, English public sector organisations (and their essential services
      and systems). The security control categories under this section cover:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Incident detection</li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Subsection</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#"> Related link </a>
          </li>
          <li>
            <a href="#"> Related link </a>
          </li>
          <li>
            <a href="#" class="govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
{% endblock %}
