{% extends "sprint-7/prototype/layout.html" %} {% block pageTitle %}How we use your council details - {{serviceName}} - GOV.UK{%
    endblock %}
    {% block beforeContent %}
    <a class="govuk-back-link" href="../authenticate/email">Back</a>
  {% endblock %}
    {% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          How we use your council details
        </h1>
        <p class="govuk-body">We'll use the information you provide to personalise questions and recommendations based on the details of your council.</p>
        <p class="govuk-body">We'll also use this information to provide comparisons against similar councils.</p>
        <a
          href="/sprint-7/prototype-1/authenticate/create-council"
          role="button"
          draggable="false"
          class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"
          data-module="govuk-button"
        >
          Continue
        </a>
      </div>
    {% endblock %}
    