{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel panel-red">
        <h1 class="govuk-panel__title">Threshold not met</h1>
      </div>
      <p class="govuk-body">You have not met all the requirements to meet the minimum threshold for MHCLG’s Cyber Security framework.</p>      
      <a href="/sprint-3/choose-prototype" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Return to main page</a>
    </div>
  </div>

{% endblock %}
