{% extends "layout-logged-in.html" %}
{% block pageTitle %} Question page {% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="start-assessment">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Governance framework</span>
      <h1 class="govuk-heading-l">
      Is there a Board/Senior Management-level commitment to manage the risks
      arising from the cyber threat?
    </h1>
      <div id="changed-name-hint" class="govuk-hint">
      Having effective organisational security management led at board level and articulated clearly in corresponding policies is essential for cyber resilience. 
    </div>
      <form action="#" method="post" novalidate>
        {{ govukRadios({ idPrefix: "question-1", name: "question-1", items: [ {
      value: "sign-in", text: "yes" }, { value: "govuk-verify",
      text: "no" } ] }) }}
        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>

{% endblock %}