{% extends "sprint-5/prototype-1/layout.html" %} {% block pageTitle %} Cyberhealth Framework {%
    endblock %}
    
    {% block content %}
    <a class="govuk-back-link" href="../prototype/council-overview">Back</a> 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-4">You have 5 high risks</h1>
        <p class="govuk-body-l">This means..</p>
       </div>
       <div class="govuk-grid-column-full govuk-!-margin-bottom-8">
        <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Topic</th>
                <th scope="col" class="govuk-table__header">Risk</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-cell-vertical-centre">Back up policies & procedures</td>
                  <td class="govuk-table__cell govuk-!-width-two-thirds">The council does not have a known working backup, at a secondary or centrally accessible site.  If an extreme event impacts the primary location then the integrity or the availability of the Council's critical information is compromised, resulting in reduced chance of successful business continuity or disaster recovery.</td>
                  <td class="govuk-table__cell table-cell-vertical-centre govuk-table__header--numeric"><a href="/">Update</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-cell-vertical-centre">Mobile Media/ Devices</td>
                    <td class="govuk-table__cell govuk-!-width-two-thirds"> Some of the Council's mobile devices, tablets and/or laptops do not encrypt stored information at rest.  If a device were lost or stolen, then a third-party may compromise sensitive information stored on the device resulting in reputational damage for your Council and the liklihood of ICO enforcement or fines.</td>
                    <td class="govuk-table__cell table-cell-vertical-centre govuk-table__header--numeric"><a href="/">Update</a></td>
                <tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-cell-vertical-centre">Software assets register & management</td>
                    <td class="govuk-table__cell govuk-!-width-two-thirds"> Some of the Council's software applications are no longer supported by the vendor.  If unsupported software is used, then unpatched vulnerabilities will be present that could be exploited by third party attackers, resulting in loss of the confidentiality, availability and integrity of the Council's information and/or applications.</td>
                    <td class="govuk-table__cell table-cell-vertical-centre govuk-table__header--numeric"><a href="/">Update</a></td>
                <tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-cell-vertical-centre">Secure configuration</td>
                    <td class="govuk-table__cell govuk-!-width-two-thirds">Software based firewalls are not enabled on the Council's PC and laptop endpoint devices.  If a device is used on a network that includes an untrusted device (e.g. hotel WiFi or a home network) then the Council's device could be exposed to network based attacks, resulting in the loss of integrity and availability of the device and information held within it.</td>
                    <td class="govuk-table__cell table-cell-vertical-centre govuk-table__header--numeric"><a href="/">Update</a></td>
                <tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-cell-vertical-centre">Boundary/Firewall management</td>
                    <td class="govuk-table__cell">One or more of the Council's firewalls can be remotely administered by IT staff, using a login function from the public internet.  If a remote attacker discovers the login page, they may launch brute force or dictionary attacks that could compromise login credentials, resulting in loss of integrity of the Councils firewall and potential compromise of the entire network.</td>
                    <td class="govuk-table__cell table-cell-vertical-centre govuk-table__header--numeric"><a href="/">Update</a></td>
                <tr>
            </tbody>
          </table>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">You have 5 medium risks</h1>
            <p class="govuk-body">This means..</p>
           </div>
           <div class="govuk-grid-column-full">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Topic</th>
                    <th scope="col" class="govuk-table__header">Risk</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-cell-vertical-centre">Account management</td>
                      <td class="govuk-table__cell govuk-!-width-two-thirds">shared access account</td>
                      <td class="govuk-table__cell table-cell-vertical-centre govuk-table__header--numeric"><a href="/">Update</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell table-cell-vertical-centre">Identity authentication</td>
                        <td class="govuk-table__cell govuk-!-width-two-thirds"> Multi factor authentication is not enabled for the Council's social media accounts.</td>
                        <td class="govuk-table__cell table-cell-vertical-centre govuk-table__header--numeric"><a href="/">Update</a></td>
                    <tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell table-cell-vertical-centre">Security Monitoring</td>
                        <td class="govuk-table__cell govuk-!-width-two-thirds"> The monitoring capability has the ability to identify the unauthorised or accidental misuse of systems processing personal data and user access to that data, including anomalous user activity. It can tie specific users to suspicious activity.</td>
                        <td class="govuk-table__cell table-cell-vertical-centre govuk-table__header--numeric"><a href="/">Update</a></td>
                    <tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell table-cell-vertical-centre">Incident response protocol</td>
                        <td class="govuk-table__cell govuk-!-width-two-thirds">specialist training for incidend response team</td>
                        <td class="govuk-table__cell table-cell-vertical-centre govuk-table__header--numeric"><a href="/">Update</a></td>
                    <tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell table-cell-vertical-centre">Data recovery capability</td>
                        <td class="govuk-table__cell">The Council does not maintain an accurate log of security incidents</td>
                        <td class="govuk-table__cell table-cell-vertical-centre govuk-table__header--numeric"><a href="/">Update</a></td>
                    <tr>
                </tbody>
              </table>
            </div>
    </div>
      </div>

     
    {% endblock %}
    