{% extends "sprint-5/prototype-1/layout.html" %}

{% block pageTitle %}

{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="/sprint-5/prototype-1/risk">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <strong class="govuk-tag govuk-tag--red">High Risk</strong>
      <h1 class="govuk-heading-xl govuk-!-padding-top-4">
        Do you test your incident response process at least once per year?
      </h1>
      <h2 class="govuk-heading-m">Threat</h2>
      <p>This is the threat!</p>
      <h2 class="govuk-heading-m">Take action</h2>
      <p>Do this thing</p>
      
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m">Risk status</h2>
      {{ govukRadios({ 
        idPrefix: "question-1",
        name: "questions[question-1][answer]",
        items: [ 
          { value: "risk-mitigated", text: "Risk mitigated" },
          { value: "risk-managed", text: "Risk managed" }, 
          { value: "risk-accepted", text: "Risk accepted" }
        ] })
      }}
      <button class="govuk-button" data-module="govuk-button">Save</button>
    </div>
  </aside>
  </div>

{% endblock %}
