{% extends "sprint-5/prototype-1/layout.html" %}

{% block pageTitle %}

{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="/sprint-5/prototype-1/risk">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <strong class="govuk-tag govuk-tag--red">High Risk</strong>
      <h1 class="govuk-heading-xl govuk-!-padding-top-4">
        You do not currently report incidents to external bodies as required
      </h1>
      <h2 class="govuk-heading-m">What are the risks</h2>
      <p>If you suffer an incident you are at risk of:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Reputational damage</li>
        <li>Penalties</li>
        <li>Non-compliance of regulatory requirements</li>
        <li>Other financial losses - not managing incidents is a costly exercise</li>
      </ul>
      <h2 class="govuk-heading-m">Risk reduction</h2>
      <p>You can reduce the risk of penalties and reputational damage by implementing a strategy of detection and response. Having a policy that clearly describes roles and responsibilities for incident reporting is the first step. You should also understand exactly what your regulatory requirements are and incorporate these into your policy.</p>
      <p>Educate users to understand how to identify incidents and categorise them, and inform them which external bodies should be informed and within what timescales if an incident occurs.</p>
      <p>Depending on the incident you may have to report this to NCSC, your Competent Authority under the NIS Directive, ICO if it is a personal data breach as required by GDPR, Law Enforcement, Action Fraud or Lead Government Department.</p>
      <h2 class="govuk-heading-m">Risk management</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Make sure your policy is updated regularly to take account of emerging and new threats.</li>
        <li>Make sure your policy is distributed and read by all responsible.</li>
        <li>Continually update your risk assessment.</li>
      </ul>
      <h2 class="govuk-heading-m">Guidance</h2>
      <p>Make sure you know how to preserve any information which may be required from a legal standpoint.</p>
      <p>People discussing the incident without the correct authority to do so can create even more problems. Make sure staff understand their responsibilities and the need to only discuss with the appropriate personnel. Know your legal reporting obligations too.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m">Risk status</h2>
      {{ govukRadios({ 
        idPrefix: "question-1",
        name: "questions[question-1][answer]",
        items: [ 
          { value: "risk-mitigated", text: "Risk mitigated" },
          { value: "risk-managed", text: "Risk managed" }, 
          { value: "risk-accepted", text: "Risk accepted" }
        ] })
      }}
      <button class="govuk-button" data-module="govuk-button">Save</button>
    </div>
  </aside>
  </div>

{% endblock %}
