{% extends "sprint-5/prototype-1/layout.html" %}
{% block pageTitle %} Question page {% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="/sprint-5/prototype-1">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Data protection</span>
      <h1 class="govuk-heading-l">Have you put policies and procedures in place to mitigate risks to personal data?</h1>
      <p>To effectively manage risks to personal data you need a set of policies that set out your expectations and requirements around handling personal data</p>
      <form action="/sprint-5/prototype-1/question-2" method="post" class="form" novalidate>
        {{ govukRadios({ 
          idPrefix: "question-1",
          name: "questions[question-1][answer]",
          items: [ 
            { value: "yes", text: "Yes" },
            { value: "no", text: "No" }, 
            { value: "na", text: "Not applicable" } 
          ] })
        }}
        <input name="questions[question-1][level]" type="hidden" value="medium">
        <input name="questions[question-1][threat]" type="hidden" value="No policies and procedures in place to mitigate risks to personal data">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </div>
  </div>

{% endblock %}